/* This file is adapted from the Cascading Style Sheet markup for the
   UofUtah Mathematics FAQ Web pages. Extensive use is made of color
   to make the pages visually attractive, to highlight particularly
   significant material, and to have consistent document markup
   throughout the FAQ pages.

   Each of these names is used as a CLASS type in HTML markup, as
   illustrated in the usage comments. */

/* Usage: <TT CLASS="command">sample inline Unix command</TT> */
.COMMAND	{ background-color: #bbddff; background-image: none; color: black; font-weight: bold } /* NB: same color as SAMPLE */

/* Usage: <P CLASS="faq">How do I xxx?</P> */
.FAQ		{ background-color: #0066cc; background-image: none; color: white; font-weight: bold }

/* Usage: <TT CLASS="field">author</TT> */
.FIELD		{ background-color: #ffcc00; background-image: none; color: black; font-weight: bold }

/* Usage: <TT CLASS="filename">/etc/passwd</TT> */
.FILENAME	{ background-color: #aaccaa; background-image: none; color: black; font-weight: bold }

/* Usage: <TT CLASS="highlight">/etc/passwd</TT> */
.LOWLIGHT	{ background-color: #ffeeee; background-image: none; color: black; font-weight: bold }

/* Usage: <TT CLASS="highlight">/etc/passwd</TT> */
.HIGHLIGHT	{ background-color: #ffaaaa; background-image: none; color: black; font-weight: bold }

/* Usage: <TT CLASS="program">emacs</TT> and <EM CLASS="program">Adobe Photoshop</EM> */
.PROGRAM	{ background-color: #bbffbb; background-image: none; color: black }

/* Usage: <PRE CLASS="sample"> ... </PRE> */
.SAMPLE		{ background-color: #ffdddd; background-image: none; color: black; font-weight: bold }

/* Usage: <PRE CLASS="blockcomment"> ... </PRE> (#fffacd == LemonChiffon1) */
.BLOCKCOMMENT	{ background-color: #fffacd; background-image: none; color: black; font-weight: bold }

/* Usage: <PRE CLASS="input"> ... </PRE> */
.INPUT		{ background-color: #ddffdd; background-image: none; color: black; font-weight: bold }

/* Usage: <PRE CLASS="output"> ... </PRE> */
.OUTPUT		{ background-color: #ddddff; background-image: none; color: black; font-weight: bold }

/* Usage: <OL CLASS="toc"> ... </OL> */
/* Experiments with firefox, iexplorer, netscape, and opera show that we need both A and OL data */
/* and that the background color region EXCLUDES the item number in iexplorer and opera, and */
/* INCLUDES it in the others. */
A.TOC		{ background-color: #0066cc; background-image: none; color: white; font-weight: bold }
OL.TOC		{ background-color: #0066cc; background-image: none; color: black; font-weight: bold }

/* Usage: <BLOCKQUOTE CLASS="warning"> and <TABLE BORDER=10 CLASS="warning"> */
.WARNING	{ background-color: #ff6060; background-image: none; color: black }

/* Usage: <EM CLASS="author">Carl Friedrich Gauss</EM> */
.AUTHOR		{ font-style: normal; font-weight: bold }

/* Usage: <EM CLASS="title">Study of differential topology</EM> */
.TITLE		{ background-color: #ffffcc; background-image: none; color: black; font-style: italic; font-weight: bold }

/* Additions for talks Web pages */

/* Usage: <H1 CLASS="section">2005</H1> */
.SECTION	{ background-color: #cc0000; background-image: none; color: white; font-weight: bold }

/* Usage: <H2 CLASS="subsection">2005</H2> */
.SUBSECTION	{ background-color: #cc6666; background-image: none; color: white; font-weight: bold }

/* [26-Oct-2006] This hypertext link attribute causes a link color change when the mouse is over the link */
A:hover		{ background-color: #ddbbbb; color: black; font-size:18pt; }
